In [1]:
import pandas as pd

In [3]:
df = pd.read_json('/home/ubuntu/github-activity/data/2022-06-05-0.json.gz',
    lines=True)
df.shape

(89443, 8)

In [4]:
df.head()

,id,type,actor,repo,payload,public,created_at,org
0,22164041431,CreateEvent,"{'id': 44050213, 'login': 'collisioncataclysm'...","{'id': 496726861, 'name': 'collisioncataclysm/...",{'ref': 'snyk-upgrade-54c90b4fba783e33846b3123...,True,2022-06-05 00:00:00+00:00,NaN
1,22164041432,PushEvent,"{'id': 92907907, 'login': 'znyt', 'display_log...","{'id': 446902156, 'name': 'znyt/oss111', 'url'...","{'push_id': 10072717837, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN
2,22164041434,PushEvent,"{'id': 44050213, 'login': 'collisioncataclysm'...","{'id': 496726861, 'name': 'collisioncataclysm/...","{'push_id': 10072717839, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN
3,22164041435,CreateEvent,"{'id': 88858119, 'login': 'danrprado', 'displa...","{'id': 496835873, 'name': 'danrprado/cpanel-ap...","{'ref': 'update-readme', 'ref_type': 'branch',...",True,2022-06-05 00:00:00+00:00,NaN
4,22164041436,PushEvent,"{'id': 69619077, 'login': 'szk302', 'display_l...","{'id': 430227097, 'name': 'szk302/dev-blog-htm...","{'push_id': 10072717843, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN

In [5]:
df.columns

Index(['id', 'type', 'actor', 'repo', 'payload', 'public', 'created_at',
       'org'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89443 entries, 0 to 89442
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          89443 non-null  int64
 1   type        89443 non-null  object
 2   actor       89443 non-null  object
 3   repo        89443 non-null  object
 4   payload     89443 non-null  object
 5   public      89443 non-null  bool
 6   created_at  89443 non-null  datetime64[ns, UTC]
 7   org         20380 non-null  object
dtypes: bool(1), datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 4.9+ MB

In [11]:
df[df['id'].duplicated()]

,id,type,actor,repo,payload,public,created_at,org
20920,22164102239,PushEvent,"{'id': 341094, 'login': 'chrisseaton', 'displa...","{'id': 215869994, 'name': 'Shopify/truffleruby...","{'push_id': 10072757458, 'size': 2, 'distinct_...",True,2022-06-05 00:14:14+00:00,"{'id': 8085, 'login': 'Shopify', 'gravatar_id'..."

In [20]:
df.loc[0, 'actor']

{'id': 44050213,
 'login': 'collisioncataclysm',
 'display_login': 'collisioncataclysm',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/collisioncataclysm',
 'avatar_url': 'https://avatars.githubusercontent.com/u/44050213?'}

In [1]:
df['actor']

NameError: name 'df' is not defined